@use 'variables' as var;

/* ================================================
	 HEADER
================================================ */
header {
	position: relative;
	display: flex;
	align-content: center;
	margin: 0 auto;
	padding: 2rem 0 6rem;
	text-align: center;
	width: 100%;
	opacity: 1;
	z-index: 999999999;
	//transition: all ease 1s;
}

// @media (max-width: 500px) {
// 	header {
// 		padding: 1rem 0 0.5rem;
// 	}
// 	header .container {
// 		display: block;
// 	}
// }

/* =======================
	 SKIP NAV
========================== */
a.skip-navigation {
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
}
a.skip-navigation:focus,
a.skip-navigation:active {
	color: #fff;
	background-color: #000;
	left: auto;
	top: auto;
	width: 30%;
	height: auto;
	overflow: auto;
	margin: 10px 35%;
	padding: 5px;
	border-radius: 15px;
	border: 4px solid yellow;
	text-align: center;
	font-size: 1.2em;
	z-index: 999;
}
