@use 'swiper/css';
@use 'swiper/css/pagination';
@use 'variables' as var;

.slider {
	position: relative;
}

.swiperslider {
	position: relative;
	margin-top: 4rem;
}

.swiper {
	padding: 2rem 0 3rem;
	overflow: visible;
}

.swiper .swiper-wrapper {
	align-items: stretch;
}

.swiper .swiper-slide {
	display: flex;
	//justify-content: center;
	align-items: start;
	flex-direction: column;
	height: auto;
	transition:
		transform 0.35s ease,
		box-shadow 0.35s ease;
	transform: scale(1);
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	padding: 3rem 2rem 8rem;
	font-size: 1.2rem;
	color: #fff;
	border: 1px #e8e8e8 solid;
	//height: 500px;
}

// .swiper .swiper-slide-active {
// 	transform: scale(1.1);
// 	z-index: 2;
// }

.swiper .swiper-slide ul {
	list-style-type: disc;
	margin-left: 2rem;
}

.nav,
.swipernav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 0;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
	color: #4b4b6a;
	display: grid;
	place-items: center;
	cursor: pointer;
	z-index: 5;
	transition: all ease 0.3s;
}

.nav--prev,
.swipernav--prev {
	right: 0;
	background: #ff5000 url('../img/arrow-prev-wh.svg') no-repeat center;
	background-size: 16px;
	left: -10px;
}

.swipernav--prev:hover {
	right: 0;
	background: #ff5000 url('../img/arrow-prev-wh.svg') no-repeat center;
	background-size: 16px;
	right: -15px;
}

.nav--next,
.swipernav--next {
	right: 0;
	background: #ff5000 url('../img/arrow-next-wh.svg') no-repeat center;
	background-size: 16px;
	right: -10px;
}

.swipernav--next:hover {
	right: 0;
	background: #ff5000 url('../img/arrow-next-wh.svg') no-repeat center;
	background-size: 16px;
	right: -15px;
}

.swiper-pagination {
	position: absolute;
	text-align: center;
	transform: translateZ(0);
	transition: opacity 0.3s;
	margin-bottom: -3rem;
	z-index: 10;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}

.swiper-pagination-bullet-active {
	background: var.$theme-clr-blue;
}

.swiper-pagination-bullet {
	background: var.$theme-clr-blue;
	height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px));
	width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
}

@media (max-width: var.$tablet) {
	.nav,
	.swipernav {
		display: none;
	}
}

.swiper-slide h3 {
	color: var.$dark;
}

.swiper-slide ul {
	color: var.$body-txt;
}

.swiper-slide h4,
.swiper-slide p {
	color: var.$theme-clr-blue;
}

#slide1 {
	background: linear-gradient(180deg, #ffffff 0%, #f3f7f7 100%);
	background-size: 100px;
}

#slide2 {
	background: linear-gradient(180deg, #ffffff 0%, #f3f7f7 100%);
	background-size: 300px;
}

#slide3 {
	background: linear-gradient(180deg, #ffffff 0%, #f3f7f7 100%);
	background-size: 150px;
}

#slide4 {
	background: linear-gradient(180deg, #ffffff 0%, #f3f7f7 100%);
	background-size: 150px;
}

#slide5 {
	background: linear-gradient(180deg, #ffffff 0%, #f3f7f7 100%);
	background-size: 150px;
}
